/* styles.css */
body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: Arial, sans-serif; /* Set default font family */
    background-color: #f0f0f0; /* Set background color */
}

.container {
    width: 90%; /* Set the width of the container */
    max-width: 1200px; /* Set maximum width */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add padding to the container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

body {
    background-color: #d6fff2; /
}
.product-list {
    display: flex;
    flex-wrap: wrap ;
}

.offer-price {
    font-weight: bold;
}

.normal-price {
    color: grey;
    text-decoration: line-through ;
}

.discount-price {
    color: green;
    font-weight: bold;
}

.prod {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-item {
    display: flex;
    align-items: center;
}

.footer {
    min-height: 200px;
    background-color: darkgrey;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    color: #fff;
    padding: 20px;
    text-align: center;
    position: flex;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

#slideshow {
    height: 400px; /* Adjust this height as needed */
}

#slideshow .carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Preserve aspect ratio and cover entire area */
}

.pagenumber1 {
    display: flex;
    justify-content: center;
    align-items: center; /* Adjust this if needed */
}

.pagination {
    margin: 0; /* Remove default margin */
}
.nikeprod {
    text-align: center;
}

.product-list {
    border: 1px solid #ccc;
    
    margin-bottom: 20px;
}


